<div class="row" style="text-align: center;">
	<img src="assets/terminal.png"/><br/>
	<div id="container_buttons">
        <p><a class="a_demo_four" href="auth/facebook" >
            Connect with facebook
        </a></p>
    </div>
    <div class="description">
    	Become a Facebook Power User
    </div>
</div>