<div class="row main" style="text-align: center;">
	<img src="assets/terminal.png"/>
	<div id="container_buttons">
        <p>
            <a class="a_demo_four" href="auth/facebook" >
                Connect with facebook
            </a>
        </p>
    </div>
</div>