<style>
.logo{
	font-size: 100px;
	line-height: 100px;
}

.main{
	padding-top: 50px;
}

</style>
<div class="row main">
	<div class="span6 offset3" style="text-align: center; font-family: 'Doppio One', sans-serif;">
		<div class="logo">FB_CMD</div><br/>
		lets you turn this<br/>
		<img src="assets/fbtext_img.png"/><br/>
		into this<br/>
		<img src="assets/terminal_img.png"/><br/>
    <br />
		<a class="btn-primary btn-large" href="auth/facebook">Sign In</a>
	</div>
</div>