<div class="row" style="text-align: center;">
	<img src="assets/macbook.png"/><br/>
	<div id="container_buttons" style="margin-top: -30px;">
        <p><a class="a_demo_four" href="https://github.com/lewisf/fb_cmd_chrome/raw/master/fb_cmd_chrome.crx" >
            Install the Chrome Extension
        </a></p>
    </div>
    <div class="description">
    	Download the Chrome Extension to get started
    </div>
</div>